body,html{
	height: 100%;
}
.blueblock {
	color: White;
	background-color: #1717c6;
	text-align: left;
	width: 100%;
	height: 50%;
}
.blueblock a{
	color: Red;
}
.redblock{
	color: White;
	background-color: Red;
	text-align: left;
	width: 100%;
	height: 50%;
}

.paragraph{
	margin:0px;
	height:auto;
	overflow:visible;
	padding-left:10%;
	padding-right:10%;
	font-size:25px;
	padding-top:10px;
	padding-bottom:10px;
}

.brand-logo{
	margin-left:10px;
}
#carousel{
	width:60%;
	overflow:visible;
	margin-right:20%;
	margin-left:20%;
}
.video{
	width:100%;
	height:400px;
}

.navbar-fixed .nav-wrapper li a{
	font-size:20px;
}
